@model ListPagerArrowModel

@if (Model.IsDisabled)
{
    <li class="page-item disabled">
        <span>
            <a class="page-link disabled" aria-label="@Model.FirstWord">
                <span aria-hidden="true">@Model.FirstArrow</span>
            </a>
        </span>
    </li>
    <li class="page-item disabled">
        <span>
            <a class="page-link disabled" aria-label="@Model.SecondWord">
                <span aria-hidden="true">@Model.SecondArrow</span>
            </a>
        </span>
    </li>
}
else
{
    <li class="page-item">
        <span>
            <a class="page-link" onclick="@Model.ClickFirst" href="#" aria-label="@Model.FirstWord">
                <span aria-hidden="true">@Model.FirstArrow</span>
                <span class="sr-only">@Model.FirstWord</span>
            </a>
        </span>
    </li>
    <li class="page-item">
        <span>
            <a class="page-link " onclick="@Model.ClickSecond" href="#" aria-label="@Model.SecondWord">
                <span aria-hidden="true">@Model.SecondArrow</span>
                <span class="sr-only">@Model.SecondWord</span>
            </a>
        </span>
    </li>
}
