@model ListPagerModel
<ul id="ul-@Model.PageSizeInputId" class="pagination">
    <li class="page-item">
        <span class="p-1 inline" style="width:auto;">
            <span class="d-inline px-2 ">Page Size:</span>
            <input id="@Model.PageSizeInputId"
                   name="@Model.PageSizeInputId"
                   type="number"
                   min="@Model.MinPageSize"
                   max="@Model.MaxPageSize"
                   onChange="pager.setPageSize(this.value)"
                   class="d-inline form-control-sm text-center"
                   value="@Model.PageSize">
        </span>
    </li>
</ul>
