@model ListPagerModel

<script type="module" src="~/js/pager.js"></script>

<div id="list-pager-container">
    <ul class="list-pager pagination">

        @await Component.InvokeAsync("ListPagerArrows", new { state = Model, direction = -1 })

        @if (Model.ShowRecordsOf)
        {
            <partial name="_ListPagerRecords" model="@Model" />
        }

        @if (Model.ShowPageOf)
        {
            <partial name="_ListPagerPageOf" model="@Model" />
        }

        <partial name="_ListPagerLinks" model="@Model" />

        @if (Model.ShowDropDown)
        {
            <partial name="_ListPagerDropdown" model="@Model" />
        }

        @await Component.InvokeAsync("ListPagerArrows", new { state = Model, direction = 1 })

    </ul>
    @if (Model.ShowPageSize)
    {
        <partial name="_ListPagerPageSize" model="@Model" />
    }
</div>
