@model ListPagerModel

<form name="listPagerPostForm" method="POST" target="@Model.PostTarget">
    @Html.AntiForgeryToken()
    <input type="hidden" id="pageNumber" class="pagerValue" value="@Model.PageNumber" name="pageNumber" />
    <input type="hidden" id="pageSize" class="pagerValue" value="@Model.PageSize" name="pageSize" />
    <input type="hidden" id="pageCount" class="pagerValue" value="@Model.PageCount" name="pageCount" />
    <input type="hidden" id="maxPagerPages" class="pagerValue" value="@Model.MaxPagerLinks" name="maxPagerPages" />
    <input type="hidden" id="dropDownIncrement" class="pagerValue" value="@Model.DropDownIncrement" name="dropDownIncrement" />
    <input type="hidden" id="maxPageSize" class="pagerValue" value="@Model.MaxPageSize" name="maxPageSize" />
    <input type="hidden" id="minPageSize" class="pagerValue" value="@Model.MinPageSize" name="minPageSize" />
    <input type="hidden" id="sortColumn" class="pagerValue" value="@Model.SortColumn" name="sortColumn" />
    <input type="hidden" id="sortDirection" class="pagerValue" value="@Model.SortDirection" name="sortDirection" />
    <input type="hidden" id="showPageSize" class="pagerValue" value="@Model.ShowPageSize" name="showPageSize" />
    <input type="hidden" id="showDropDown" class="pagerValue" value="@Model.ShowDropDown" name="showDropDown" />
    <input type="hidden" id="showPageOf" class="pagerValue" value="@Model.ShowPageOf" name="showPageOf" />
    <input type="hidden" id="showRecordsOf" class="pagerValue" value="@Model.ShowRecordsOf" name="showRecordsOf" />
    <input type="hidden" id="pageSizeInputId" class="pagerValue" value="@Model.PageSizeInputId" name="pageSizeInputId" />
</form>

