@page
@namespace ListPagerExamples.Areas.ViewComponent.Pages
@model VCGetModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutForExamples";
    ViewData["Title"] = "ListPager Examples - Partial View GET";
    var pager = Model.Parameters.Pager;
    pager.ShowDropDown = false;
}
@section Scripts{
    <script>
    //Page scope, not module scope
    let pager
    let pagerState = @Json.Serialize(@pager);
    let filter = '@Model.Parameters.SearchTerm';
    const constants = {}
    </script>
    <script type="module">
        import Pager from "../_content/ListPagerRazorLibrary/js/pager.js"    //path in ListPagerRazorLibrary
        pager = new Pager(pagerState, {})
        document.addEventListener(Pager.constants.pagingEventName, (e) => {
            let { pageNumber, pageSize } = { ...e.detail.ListPagerModel }
            let filter = document.getElementById("filter").value
            window.location.search = `PageNumber=${pageNumber}&PageSize=${pageSize}&search=${filter}`
        })
    </script>
}

@section Css{
    <link rel="stylesheet" href="~/css/pager-override.css" />
}

@section Notes{

    <dl>
        <dt>
            The GET Demo
        </dt>
        <dd>
            <ul>
                <li><p>Shows how to implement a full-page GET scenario</p></li>
                <li><p>Uses the library's minimalist <code>_ListPagerShort</code> partial view</p></li>
                <li><p>Unconditionally renders the <code>ListPagerPageOf</code> as a spearate partial view</p></li>
                <li>
                    <p>
                        Conditionally renders the <code>ListPagerRecordsOf</code> if the list is being filtered.
                        That behaviour is embedded in the <code>_ListPagerShort</code> View Component.

                    </p>
                </li>
                <li>
                    <p>Applies custom styling to the pager links (~/css/pager-override.css)</p>
                    <p>
                        <code>
                            <pre>
                            .page-link { background-color: salmon;}

                            /* required when rendered separately*/
                            li.pager-range {list-style: none;}
                            </pre>
                        </code>
                    </p>
                    <p>
                        Note that changing the Theme does not remove the custom styling.
                        The salmon background remains, while the other theme defintions take effect.
                    </p>
                </li>
            </ul>
        </dd>
    </dl>
}

<div class="col-7 mx-auto">
    <div class="row d-flex justify-content-between">

        <!-- this is not part of the library -->
        <div class="col-md-4">
            <partial name="_ListFilterPartial" model='@Model.Parameters.SearchTerm' />
        </div>
        <!-- this is part of the library -->
        <div class="col-md-3">
            <partial name="Components/ListPagerPageOf" model="@pager" />
        </div>
    </div>
    <div class="row  mt-4">
        <!-- This is part of the ListPager Library-->
        <div class="col d-flex justify-content-end">
            <partial name="_ListPagerShort" model="@pager" />
        </div>
    </div>

    <div class="row">
        <div class="mx-auto col">
            <!--this table belongs to the host app, its not a ListPager partial -->
            <partial name="_ListTable" model="@Model.Bloggers" />
        </div>
    </div>
</div>
