@page
@namespace ListPagerExamples.Areas.ViewComponent.Pages
@model VCGetModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutForExamples";
    ViewData["Title"] = "ListPager Examples - Partial View GET";
    var pager = Model.Parameters.Pager;
    pager.ShowRecordsOf = pager.IsFiltered;
    pager.ShowPageOf = !pager.IsFiltered;
    pager.ShowDropDown = pager.PageCount > pager.MaxPageLinks + 1;
}
@section Scripts{
    <script>
    //Page scope, not module scope
    let pager
    let pagerState = @Json.Serialize(@pager);
    let filter = '@Model.Parameters.SearchTerm';
    const constants = {}
    </script>
    <script type="module">
        import Pager from "/js/pager.js"    //path in ListPagerRazorLibrary
        pager = new Pager(pagerState, {})
        document.addEventListener(Pager.constants.pagingEventName, (e) => {
            let { pageNumber, pageSize } = { ...e.detail.ListPagerModel }
            let filter = document.getElementById("filter").value
            window.location.search = `PageNumber=${pageNumber}&PageSize=${pageSize}&search=${filter}`
        })
    </script>
}

@section Notes{
    <p>
        <ul>
            <li class="py-2">
                Try searching for 'a' and then 'j' - the search looks at Last Name for the search term
            </li>
            <li class="py-2">
                <code>ListPagerPageOf</code> ("Page N of T") is shown only when <code>IsFiltered==false</code>
            </li>
            <li class="py-2">
                <code>ListPagerRecords</code> ("N Rows of T")is shown only when <code>IsFiltered==true</code>
            </li>
            <li class="py-2">
                <code>ListPagerDropdown</code> display is set to be conditional on:
            </li>
            <code class="ml-2">ShowDropDown = pager.PageCount > pager.MaxPageLinks + 1;</code>
            <li class="py-2">
                <code>ListPagerPageOf</code> is overridden by <code>ListPagerExamples/Pages/Shared/ListPagerPageOf</code> which
                changes the text color to <code>class="text-danger"</code> (aka Red).
            </li>
        </ul>

}

<div class="d-flex justify-content-center">
    <partial name="_ListPager" model="@pager" />
</div>
<div class="d-flex justify-content-end col-md-11">
    <partial name="_ListFilterPartial" model='@Model.Parameters.SearchTerm' />
</div>
<div class="d-flex justify-content-center">
    <div class="col-md-10">
        <partial name="_ListTable" model="@Model.Bloggers" />
    </div>
</div>
