@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

@RenderSection("Scripts", false)
@*<script>

        function styler(s) {
            let items = document.getElementsByClassName("theme_link")
            Array.prototype.forEach.call(items, function (el) {
                el.classList.remove("active", "disabled")
            })
            document.getElementById("theme_" + s).classList.add("active", "disabled")
            let href
            switch (s) {
                case 1:
                    href = "../css/pager-dark.css"
                    _themeName = "Dark Theme"
                    break
                case 2:
                    href = "../css/pager-neon.css"
                    _themeName = "Neon Theme"
                    break
                default:
                    href = "../css/pager.css"
                    _themeName = "Base Theme"
                    break
            }
            document.getElementById("themesheet").href = href
            document.getElementById("themenamedisplay").innerText = _themeName
        }
        //styler(0)
    </script>*@

<link rel="stylesheet" href="../_content/ListPagerRazorLibrary/css/pager.css" id="themesheet" />

<style>
    #notes {
        font-size: .90rem;
    }

        #notes #collapseExample.collapse:not(.show) {
            display: block;
            height: 0rem;
            overflow: hidden;
        }

        #notes #collapseExample.collapsing {
            height: 0rem;
        }

        #notes a.collapsed::after {
            content: 'more...';
        }

        #notes a:not(.collapsed)::after {
            content: '...less';
        }
</style>


@RenderSection("Css", false)





<div class="d-flex justify-content-center">
    <h4>@ViewData["title"]</h4>
</div>

<@*div class="d-flex justify-content-center">
    <div class="col-md-8 mt-1" id="notes">
        <div class="card card-body p-1 my-0">
            <div class="d-flex justify-content-start">
                <h6 class="my-1">Notes</h6>
                <a role="button" class="collapsed m-0 p-0 pt-1 ml-2" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></a>
            </div>
        
        </div>
    </div>
</div>*@
<div class="d-flex justify-content-center ">
    <div class="col-md-4 border border-dark">
        @RenderSection("Notes", false)
    </div>
    <div class="col-md-8">
        @RenderBody()
    </div>
</div>

