@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

@RenderSection("Scripts", false)

@section Css
{
    <style>
        #notes {
            font-size: .90rem;
        }

            #notes #collapseExample.collapse:not(.show) {
                display: block;
                height: 0rem;
                overflow: hidden;
            }

            #notes #collapseExample.collapsing {
                height: 0rem;
            }

            #notes a.collapsed::after {
                content: 'more...';
            }

            #notes a:not(.collapsed)::after {
                content: '...less';
            }
    </style>


    @RenderSection("Css", false)
}




<div class="d-flex justify-content-center">
    <h4>@ViewData["title"]</h4>
</div>
<div class="d-flex justify-content-center">
    <div class="col-md-8 mt-1" id="notes">
        <div class="card card-body p-1 my-0">
            <div class="d-flex justify-content-start">
                <h6 class="my-1">Notes</h6>
                <a role="button" class="collapsed m-0 p-0 pt-1 ml-2" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></a>
            </div>
            @RenderSection("Notes", false)
        </div>
    </div>
</div>

@RenderBody()

